# Project

In [13]:
from tabulate import tabulate

# product = [
#     {"ID":"1","name": "Laptop", "price": "$999.99", "quantity": "10"},
#     {"ID":"2","name": "Smartphone", "price": "$499.99", "quantity": "15"},
#     {"ID":"2","name": "Headphones", "price": "$99.99", "quantity": "20"},
# ]

products = [
    {
        "id": 1,
        "name": "Laptop",
        "price": 999.99,
        "stock": 10
    },
    {
        "id": 2,
        "name": "Smartphone",
        "price": 499.99,
        "stock": 15
    }
]

print(f'''
=== products ===
{tabulate(products, headers="keys", tablefmt="pretty")}
    ''')

=== products ===
+----+------------+--------+-------+
| id |    name    | price  | stock |
+----+------------+--------+-------+
| 1  |   Laptop   | 999.99 |  10   |
| 2  | Smartphone | 499.99 |  15   |
+----+------------+--------+-------+

In [14]:
cart = []
cart.append(variable)

print(f'''
=== yourcart ===
{tabulate(cart, headers="keys", tablefmt="pretty")}
Total Amount: {sum(cart["price"])}
    ''')

NameError: name 'variable' is not defined